<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Admin server status</title>
		<meta name="boot_time" content="{{ boot_time }}">
		{{{ pwa_headers }}}

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/status.css">
	</head>
	<body>
		<div class="container-main">
			<div class="container-page">
				<div class="card container-status">
					<div class="container-image">
						<img src="/images/app-icons/web/icon-512.png" alt="pi-extender">
					</div>
					<h1 class="card-title">Status</h1>
					<pre class="output">{{ response }}</pre>
					<hr>
					<div class="container-info">
						<div class="info-item">
							<h3>Uptime</h3>
							<div id="uptime">---</div>
						</div>
						<div class="info-item">
							<h3>Load Average (5 min.)</h3>
							<div>{{ load_avg }}</div>
						</div>
						<div class="info-item">
							<h3>Free memory</h3>
							<div>{{ memory }}</div>
						</div>
						<div class="info-item">
							<h3>Source AP</h3>
							<div>{{ source_ap }}</div>
						</div>
						<div class="info-item">
							<h3>Hostname</h3>
							<div>{{ hostname }}</div>
						</div>
						<div class="info-item">
							<h3>IP address</h3>
							<div>{{ local_ip }}</div>
						</div>
						<div class="info-item">
							<h3>Network interfaces</h3>
							<div class="container-interface">
								{{#each interfaces}}
									<div class="ifc-info">
										{{ this.0 }}: <span>{{ this.1 }}</span>
									</div>
								{{/each}}
							</div>
						</div>
						<div class="card btn-back">
							<a href="/" class="button">Back</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/scripts/status.js"></script>
	</body>
</html>
