<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Wireless settings</title>
		{{{ pwa_headers }}}

		<link rel="stylesheet" href="/styles/main.css">
		<link rel="stylesheet" href="/styles/wireless.css">
	</head>
	<body>
		<div class="container-main">
			<div class="container-page">
				<div class="card container-wireless">
					<div class="container-image">
						<img src="/images/app-icons/web/icon-512.png" alt="pi-extender">
					</div>
					<h1 class="card-title">Wireless settings</h1>
					<form action="/save-wireless" method="POST">
						<h2>Source</h2>
						<hr>
						<label class="label" for="source_ssid">
							<input
								type="text"
								class="card"
								name="source_ssid"
								placeholder="Source SSID"
								value="{{ source_ssid }}"
								required
							>
							<div class="label-text">Source SSID</div>
						</label>
						<label class="label" for="source_pwd">
							<input
								type="password"
								class="card"
								name="source_pwd"
								pattern=".{8,}"
								placeholder="Source password"
								value="{{ source_pwd }}"
								required
							>
							<div class="label-text">Source password</div>
						</label>
						<h2>Access point</h2>
						<hr>
						<label class="label" for="ap_ssid">
							<input
								type="text"
								class="card"
								name="ap_ssid"
								placeholder="Access point SSID"
								value="{{ ap_ssid }}"
								required
							>
							<div class="label-text">Access point SSID</div>
						</label>
						<label class="label" for="ap_pwd">
							<input
								type="password"
								class="card"
								name="ap_pwd"
								pattern=".{8,}"
								placeholder="Access point password"
								value="{{ ap_password }}"
								required
							>
							<div class="label-text">Access point password</div>
						</label>
						<input type="submit" class="card" value="Save">
						<div class="card btn-back">
							<a href="/" class="button">Cancel</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
